<h1>User Profile</h1>
<p>Name: <%= @user.name %></p>
<p>Total Posts: <%= @user.posts.count %></p>

<h2>Recent Posts</h2>
<ul>
  <% @user.recent_posts.each do |post| %>
    <li><%= post.title %> - <%= post.created_at %></li>
  <% end %>
</ul>
